@using Cosmos.Data.Cerulean.Cloud
@if (_form == null)
{
    <h1>LOADING</h1>
} else {
    <h3>FormRenderer</h3>
    <h3>@_form.FormId</h3>
    <h3>@_form.Sections.Count</h3>

    <EditForm Model="@ElementValues" OnValidSubmit="@HandleValidSubmit">
        @foreach (var section in _form.Sections)
        {
            <FormSectionRenderer ElementValues="@ElementValues" Section="section"/>
        }
        <button type="submit">Submit</button>
    </EditForm>
}