@using Cosmos.Data.Cerulean.Cloud
<div class="border border-primary">
    <h3>@Section.Label</h3>
    <div class="p-3">
        @foreach (var element in Section.Elements)
        {
            if (element.Type == "Text")
            {
                <TextInput Element="element" ElementValues="@ElementValues" IsRepeatable="@IsRepeatable" CopyVersion="@Section.CopyVersion" />
            }
            else if (element.Type == "TextArea")
            {
                <TextAreaInput Element="element" ElementValues="@ElementValues" IsRepeatable="@IsRepeatable" CopyVersion="@Section.CopyVersion" />
            }
            else if (element.Type == "CheckBox")
            {
                <CheckBoxInput Element="element" ElementValues="@ElementValues" IsRepeatable="@IsRepeatable" CopyVersion="@Section.CopyVersion" />
            }
            else if (element.Type == "Select")
            {
                <SelectInput Element="element" ElementValues="@ElementValues" IsRepeatable="@IsRepeatable" CopyVersion="@Section.CopyVersion" />
            }
        }
    </div>
    @if (@Section.IsRepeatable)
    {
        <button class="btn btn-outline-dark flex-shrink-0" type="button" @onclick="() => AddFormSection()">
            Add section
        </button>
    }
</div>
<div class="border border-secondary">
    @if (Section?.SubSections?.Count > 0)
    {
        foreach (var subSection in Section.SubSections)
        {
            <FormSectionRenderer ElementValues="@ElementValues" Section="@subSection" />
        }
    }
</div>