@using Frontend.Cerulean.Cloud.Components.Base;
@inherits BaseInputComponent
<div class="form-group">
    <p>
        <label for="@Key">@Element.Label</label>
        <textarea id="@Key" class="@ProcessedElementClass" placeholder="@Element.PlaceHolder" @onchange="@(c => ElementValues[Key] = c.Value)" value=@ElementValues[Key] />
    </p>
    <ValidationMessage For="@(() => Element.Name)" />
</div>

@code {
    public override string ElementClass { get; } = "form-control";
}