@using Frontend.Cerulean.Cloud.Components.Base;
@inherits BaseInputComponent
<div class="form-group">
    <div class="input-group has-validation">
        <label for="@Key">@Element.Label</label>
        <input type="text" id="@Key" class="@ProcessedElementClass" placeholder="@Element.PlaceHolder" @onchange="@(c => ElementValues[Key] = c.Value)" value=@ElementValues[Key] />
        <div id="validation@(Key)Feedback" class="invalid-feedback">
            <ValidationMessage For="@(() => Element.Name)" />
        </div>


    </div>
</div>

@code {
    public override string ElementClass { get; } = "form-control";
}